:root {
    --primary-color: #011627;
    --secondary-color: #EAEAEA;
    --tertiary-color: #5B85AA;
    --quad-color: #823329;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Consolas", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-color);
}

/* Styling the Header */

header {
    display: flex;
    padding: 20px 35px;
    color: var(--secondary-color);
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
    background-color: var(--primary-color)
}

header h1 {
    font-size: 46px;
    color: var(--secondary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-weight: normal;
    font-size: 1.55vw;
}

/* END Styling the Header */

section {
    display: flex;
}

/* Styling the Titles */


.section-title {
    font-size: 48px;
    text-align: right;
    padding-right: 20px;

}

.title-div {
    display: flex;
    flex: 0 0 22vw;
    justify-content: right;
    border-right: var(--primary-color) solid 5px;
}
/* END Styling the Titles */

/* Styling Hero Section */

.hero {
    background-image: url(../images/shell2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}
/* END Hero Styling */

/* Styling About Me  */

.austin-pic {
    height: 500px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.hello-world {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 400px;
    font-size: 26px;
    line-height: 1.5;
    color: var(--primary-color);
    padding: 15px;
}

.about-me-text {
    width: 45vw;
    font-size: 20px;
    padding: 15px;
}

/* END Styling About Me */

/* Styling Projects Section */

.projects-div {
    display:flex;
    flex-wrap: wrap;
    width: 75vw;
}

.project-img {
    display: flex;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    opacity: .7 ;
    transition: ease-in;
}

.project-img:hover {
    opacity: 1;
    transition-duration: .2s;
}



.big {
    width: 60vw;
}


/* END Styling Projects Section */

/* Styling Contact Me Section*/

.contact-info {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid var(--tertiary-color);
    flex-wrap: wrap;
    padding-bottom: 2px;

}


/* END Styling Contact Me Section*/